body, p, h1, h2, h3, h4, li, a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
}
body {
  margin: 0.5em;
}
h1 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0px;
}
h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
  margin-top: 1em;
}
div > h2 {
  margin-top: 0em;
}
ul {
  margin: 0px;
}

/* mode_list */
div.mode_list ul {
  padding: 0;
}
div.mode_list ul li {
  list-style-type: none;
}
div.mode_list ul li span.thumbnail {
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 4em;
  display: inline-block;
  text-align: center;
}
div.mode_list ul li span.thumbnail img {
  max-width: 4em;
  max-height: 4em;
  vertical-align: middle;
  margin-bottom: 0.25em;
}

/* mode_symbols */
div.mode_symbols ul {
  padding: 0;
}
div.mode_symbols ul li {
  display: inline-block;
  width: 12em;
  min-height: 3em;
  margin: 0;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  vertical-align: top;
  text-align: center;
  padding: 0.125em;
}
div.mode_symbols ul li span.thumbnail {
  display: block;
}
div.mode_symbols ul li a {
  vertical-align: bottom;
}

div.info {
  position: absolute;
  width: 15em;
  top: 0.5em;
  right: 0px;
}
div.content {
  position: absolute;
  top: 0.5em;
  bottom: 0.5em;
  right: 15.5em;
  left: 0.5em;
}
div.item {
  bottom: 0px;
  top: 2.5em;
  left: 0px;
  right: 0px;
  position: absolute;
}

div.item.file {
  text-align: center;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@media only screen and ( orientation: portrait ),
       only screen and ( max-width: 50em )
 {
  div.content {
    position: relative;
    bottom: auto;
    top: auto;
    left: 0px;
    right: 0px;
  }
  div.item {
    position: relative;
    left: 0px;
    right: 20px;
    top: 0px;
  }
  div.content img {
    max-height: auto;
    max-width: auto;
  }
  div.info {
    position: relative;
  }
  div > h2 {
    margin-top: 1em;
  }
}

@media only screen and ( max-width: 50em ) {
  body {
    margin: 0px;
  }
  div.content {
    left: 0px;
    right: 15em;
  }
}

@media only screen and ( max-width: 35em ) {
  a {
    text-decoration: none;
  }
}
