body, p, h1, h2, h3, h4, li, a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
}
body {
  margin: 0.5em;
}
h1 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0px;
}
h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
  margin-top: 1em;
}
div > h2 {
  margin-top: 0em;
}
ul {
  margin: 0px;
}

img {
  border: 0;
}

/* mode_list */
div.mode_list table.list {
  border-collapse: collapse;
  width: 100%;
}
div.mode_list table.list tr {
}
div.mode_list table.list tr td {
  display: none;
  padding: 0.125em;
}
div.mode_list table.list tr td.thumbnail {
  display: table-cell;
  vertical-align: top;
  top: 0;
  width: 4em;
  text-align: center;
  padding-bottom: 0.25em;
}
div.mode_list table.list tr td.thumbnail img {
  max-width: 4em;
  max-height: 4em;
}
div.mode_list table.list tr td.name {
  display: table-cell;
  padding-bottom: 0.25em;
}
div.mode_list table.list tr#placeholder td {
  display: table-cell;
  text-align: left;
  padding-left: 4.5em;
}

/* mode_symbols */
div.mode_symbols table.list {
  display: block;
}
div.mode_symbols table.list tr {
  display: inline-block;
  width: 9.0em;
  min-height: 3em;
  margin: 0;
  margin-bottom: 1em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  vertical-align: top;
  text-align: center;
  padding: 0.125em;
}
div.mode_symbols table.list td {
  display: none;
}
div.mode_symbols table.list td.thumbnail {
  display: block;
}
div.mode_symbols table.list td.name {
  display: block;
}
div.mode_symbols table.list tr#placeholder {
  display: block;
  width: 100%;
  min-height: 0;
  margin: 0;
}
div.mode_symbols table.list tr#placeholder td {
  display: block;
  text-align:center;
}

/* mode_details */
div.mode_details {
}
div.mode_details table.list {
  border-collapse: collapse;
  width: 100%;
}
div.mode_details table.list tr {
}
div.mode_details table.list tr td {
  padding: 0.125em;
}
div.mode_details table.list tr td.thumbnail {
  display: table-cell;
  vertical-align: top;
  top: 0;
  width: 4em;
  text-align: center;
  padding-bottom: 0.25em;
}
div.mode_details table.list tr td.thumbnail img {
  max-width: 4em;
  max-height: 4em;
}
div.mode_details table.list tr td.name {
  border-left: none;
  padding-bottom: 0.25em;
}
div.mode_details table.list tr#placeholder td {
  display: table-cell;
  padding-left: 4.5em;
}

div.info {
  position: absolute;
  width: 15em;
  top: 0.5em;
  right: 0px;
}
div.content {
  position: absolute;
  top: 0.5em;
  bottom: 0.5em;
  right: 15.5em;
  left: 0.5em;
}
div.item {
  bottom: 0px;
  top: 2.5em;
  left: 0px;
  right: 0px;
  position: absolute;
}

div.item.file {
  text-align: center;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@media only screen and ( orientation: portrait ),
       only screen and ( max-width: 50em )
 {
  div.content {
    position: relative;
    bottom: auto;
    top: auto;
    left: 0px;
    right: 0px;
  }
  div.item {
    position: relative;
    left: 0px;
    right: 20px;
    top: 0px;
  }
  div.content img {
    max-height: auto;
    max-width: auto;
  }
  div.info {
    position: relative;
  }
  div > h2 {
    margin-top: 1em;
  }
}

@media only screen and ( max-width: 50em ) {
  body {
    margin: 0px;
  }
  div.content {
    left: 0px;
    right: 15em;
  }
}

@media only screen and ( max-width: 35em ) {
  a {
    text-decoration: none;
  }
}
